<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Sidebar Menu with sub-menu | CodingNepal</title>
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

 
   </head>
   <body>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <div class="wrapper">
        <div class="sidebar">
            <div class="logo-img-name">
            <img src="../../assets/images/lo.png" class="logo-img" alt="CoolBrand">
           <h3>Brand</h3> 
        </div>
            <ul>
                <li><a href="workspace"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="workspace"><i class="fas fa-user"></i>Profile</a></li>
                <li><a href="workspace"><i class="fas fa-address-card"></i>About</a></li>
                <li><a href="workspace"><i class="fas fa-project-diagram"></i>portfolio</a></li>
                <li><a href="workspace"><i class="fas fa-blog"></i>Blogs</a></li>
                <li><a href="workspace"><i class="fas fa-address-book"></i>Contact</a></li>
                <li><a href="workspace"><i class="fas fa-map-pin"></i>Map</a></li>
            </ul> 
        
        </div>
        
    </div>

    



    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <div class="wrappers">
        <div class="navbar">
            <div class="left">
                <ul>
                  <li><a href="#">
                    <i class="fas fa-home"></i></a></li>
                  <li><a href="#">
                    <i class="fas fa-envelope"></i></a></li>
                  <li><a href="#">
                    <i class="fas fa-bell"></i></a></li>
              </ul>
            </div>
            <div class="right">
                <ul>
                  <li>
                    <a href="#">
                      <p>Coding Market<br> <span>Admin</span></p><img src="https://i.imgur.com/kDLvuKf.png" alt="Admin" width="40"><i class="fas fa-angle-down"></i>
                    </a>
                     
                    <div class="dropdown">
                        <ul>
                          <li><a href="#"><i class="fas fa-user"></i> Profile</a></li>
                          <li><a href="#"><i class="fas fa-sliders-h"></i> Settings</a></li>
                          <li><a href="#"><i class="fas fa-sign-out-alt"></i> Signout</a></li>
                      </ul>
                    </div>
                    
                  </li>
              </ul>
            </div>
        </div>
    </div>
    
  <script>
    document.querySelector(".right ul li").addEventListener("click", function(){
        this.classList.toggle("active");
      });
  </script>
        

    
   </body>
</html>